.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.flight-price-option {
    font-weight: bold;
    font-size: large;
}

.flight-class-option {
    font-weight: bold;
    color: #3b206d;
    font-size: large;
}

.book-option {
    font-weight: bold;
    color: #3b206d;
}