<div>
    <mat-dialog-content>
        <mat-card class="flight-route-details">
            <mat-card-header class="flight-route-header">Flight from {{flight.departureAirport.name}} to
                {{flight.arrivalAirport.name}}</mat-card-header>
            <mat-card-content class="flight-route-display">
                <app-flight-route-details [flightRoute]="flight"></app-flight-route-details>
            </mat-card-content>
        </mat-card>
        <mat-card class="flights">
            <mat-card-header class="flights-table-header">Individual flights</mat-card-header>
            <table class="flights-table">
                <thead class="table-head">
                    <th>Flight number</th>
                    <th>Airline</th>
                    <th>Airplane</th>
                    <th>Departure airport</th>
                    <th>Arrival airport</th>
                    <th>Flight Duration</th>
                </thead>

                <tr *ngFor="let flight of flight.flights" class="table-content">
                    <td>{{flight.flightId}}</td>
                    <td>{{flight.airline.name}}</td>
                    <td>{{flight.airplaneType}}</td>
                    <td>{{flight.from.name}}</td>
                    <td>{{flight.to.name}}</td>
                    <td>{{calculateDuration(flight.arrivalDate, flight.departureDate)}}</td>
                </tr>
            </table>
        </mat-card>
        <mat-dialog-actions class="dialog-close">
            <span class="spacer"></span>
            <button mat-flat-button mat-dialog-close color="primary">CLOSE</button>
        </mat-dialog-actions>
    </mat-dialog-content>

</div>