<div>
    <mat-toolbar color="primary">
        <button mat-raised-button [routerLink]="['/flights']">Flights
            <mat-icon>flight</mat-icon>
        </button>

        <button mat-raised-button disabled>Bookings
            <mat-icon>library_books</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-raised-button disabled>Login
            <mat-icon>home</mat-icon>
        </button>

        <button mat-raised-button disabled>Logout
            <mat-icon>logout</mat-icon>
        </button>

        <button mat-raised-button disabled>Profile
            <mat-icon>face</mat-icon>
        </button>
    </mat-toolbar>
</div>