<mat-card-content class="route-details">
    <div class="departure-details">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 0.5em; margin-bottom: 0.5em;">
            <mat-icon>flight_takeoff</mat-icon>
            {{ flightRoute.departureTime | date : 'shortTime' }}
        </div>
        <div>
            {{flightRoute.departureAirport.iata}}
        </div>
    </div>
    <div class="path-details">
        <div>
            stops
        </div>
        <div>
            ----------------- {{flightRoute.stops}} -----------------
        </div>
    </div>
    <div class="arrival-details">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 0.5em; margin-bottom: 0.5em;">
            <mat-icon>flight_land</mat-icon>
            {{ flightRoute.arrivalTime | date : 'shortTime'}}
        </div>
        <div>
            {{flightRoute.arrivalAirport.iata}}
        </div>
    </div>
</mat-card-content>
<mat-card-content class="flight-details">
    <div class="flight-details-content">
        <mat-icon>schedule</mat-icon>
        Duration: {{calculateDuration()}}
    </div>
    <div class="flight-details-content">
        <mat-icon>flight_class</mat-icon>
        Number of empty seats left: {{ flightRoute.seatsLeft }}
    </div>
</mat-card-content>