.passanger-select-main {
    margin: 1em;
}

.travel-class-main {
    margin: 1em;
}

.travel-class {
    margin-top: 1em;
}

.spacer {
    flex: 1 1 auto;
}

.close-button {
    margin-right: 0.5em;
}
